@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #fff;
  }
}

body {
  background: var(--bg-color);
  padding: 10px;
}
